---
{% for _route in gateway_no_auth_routes %}
apiVersion: gateway.envoyproxy.io/v1alpha1
kind: SecurityPolicy
metadata:
  name: {{ _route.name }}
  namespace: {{ _route.namespace }}
spec:
  targetRefs:
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      name: {{ _route.route }}
---
{% endfor %}
